.b-g-r {
    background-color: magenta;
}
.d-f {
    display: flex; 
}
.center {
    justify-content: center;
}
.s-b {
    justify-content: center;
}
.image {
    width: 206px;
    height: 292.5px; 
}
.b-g-i {
    background-image: url("../images/pic.jpg");
    background-size: 206px 292.5px; 
    width: 206px;
    height: 292.5px; 
    background-blend-mode: multiply;
}

.t-a-c {
    text-align: center;
}
.f-f {
    font-family: 'Comfortaa', cursive;
}
.f-s40 {
    font-size: 120px; 
    position: absolute;
    z-index: 10;
    color: white;
    opacity: 0.6;
}
.f-s20 {
    font-size: 20px; 
}